//importing some of the google fonts
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&family=Raleway&family=Rubik&display=swap');

/* Sass Template  */


//importing the variables sccss folder
@import'./include/variables.scss';
@import'./include/global.scss';
@import'./include/typographic.scss';
@import'./include/color.scss';
@import'./include/top-sale.scss';


